/* GRID */
/*****************
*Simple CSS Reset*
******************/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

/**********************
******Main HTML*****
***********************/
/* 1 rem = 10 px*/
/* 10px = 62.5% of default font size of browser*/
html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
  padding: 3rem; }

h1 {
  text-align: center;
  margin-bottom: 3rem; }

.row {
  max-width: 114rem;
  /*1140px / 10 because 10rem = 1px*/
  background-color: #eee;
  margin: 0 auto;
  /*centers row in view port*/
  padding: 1.5rem; }
  .row:not(:last-child) {
    margin-bottom: 5rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    background-color: orangered;
    float: left;
    padding: 1rem; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 3rem; }
  .row .col-1-of-2 {
    width: calc((100% - 3rem) / 2); }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row .col-1-of-3 {
    width: calc((100% - (3rem*2)) / 3); }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row .col-2-of-3 {
    width: calc(2*((100% - (3rem*2)) / 3) + 3rem); }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row .col-1-of-4 {
    width: calc((100% - (3rem*3)) / 4); }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row .col-2-of-4 {
    width: calc(2*((100% - (3rem*3)) / 4)  + 3rem); }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row .col-3-of-4 {
    width: calc(3*((100% - (3rem*3)) / 4)  + (3rem * 2)); }
